@import "tailwindcss";

:root {
	--background: #0d0e0f;
	--foreground: #171717;
}

@theme {
	--color-gruvbox-black: #0d0e0f;
	--color-gruvbox-dark: #202020;
	--color-gruvbox-light: #e7d7ad;
}

@theme inline {
	--color-background: var(--color-background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--color-gruvbox-black);
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
